<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylenav.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/stylenav.css' %}">


</head>
<body>

    <!-- <nav>
        <a href="/">Главная</a>
        <a href="{% url 'view_cart' %}">Корзина</a> 
        {% if user.is_authenticated %}
            <div style="display: inline-block;">
                <a href="{% url 'profile' %}" style="display: inline-block; vertical-align: middle;">
                    {% if user.pfp %}
                        <img src="{{ user.pfp.url }}" alt="Фото профиля" style="width: 30px; height: 30px; border-radius: 50%; vertical-align: middle; margin-right: 5px;">
                    {% else %}
                        <span style="display: inline-block; width: 30px; height: 30px; border-radius: 50%; background-color: #ccc; text-align: center; line-height: 30px; vertical-align: middle; margin-right: 5px;">👤</span>
                    {% endif %}
                    {{ user.username }}
                </a>
                <a href="{% url 'logout' %}" style="display: inline-block; vertical-align: middle; margin-left: 10px;">Выход</a>
            </div>
            {% if user.isTrusted %}
                <a href="{% url 'add_service' %}">Добавить услугу</a>
            {% endif %}
        {% else %}
            <a href="{% url 'register' %}">Регистрация</a>
            <a href="{% url 'login' %}">Вход</a>
        {% endif %}
    </nav> -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
    
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                         <a href="{% url 'profile' %}" class="nav-link d-flex align-items-center me-2"> {% if user.pfp %}
                                <img src="{{ user.pfp.url }}" alt="Фото профиля" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px;">
                            {% else %}
                                <span style="display: inline-block; width: 30px; height: 30px; border-radius: 50%; background-color: #ccc; text-align: center; line-height: 30px; margin-right: 5px;">👤</span>
                            {% endif %}
                            {{ user.username }}
                        </a>
                        <a href="{% url 'logout' %}" class="nav-link">Выход</a>
                    </li>
    
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Вход</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>



    {% block content %}
    {% endblock %}

</body>
</html>