{% extends 'main/base.html' %}

{% block title %}
    Регистраиця/вход
{% endblock %}


{% block content %}

<!DOCTYPE html>
<html lang="ru">
    <h1>Регистрация/вход</h1>
    <form method="post">
    

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.title}}<br>
        {{form.user}}<br>

<input type="file" class="form-control-file" id="pfp" name="pfp">
        <button type="submit" class="btn btn-primary">Submit</button> 
    </form>
</head>
<body>

</body>
</html>
{% endblock %}