{% extends 'main/base.html' %}

{% block title %}Заявка успешно оформлен{% endblock %}

{% block content %}
    <div class="alert alert-success" role="alert">
        <h2 class="alert-heading">Заявка успешно оформлен!</h2>
        <p>Номер вашей заявки  {{ order_id }}</p>
        <p>Спасибо за ваш заявку!</p>

        {% if completion_date %}
            <p>Ориентировочная дата выполнения заявки  <strong>{{ completion_date }}</strong></p>
        {% endif %}
    </div>

    <h3 class="mt-4">Контактная информация продавца:</h3>
    {% if seller %}
        <div class="row">
            <div class="col-md-6">
                <p>Имя пользователя: {{ seller.username }}</p>
                {% if seller.email %}
                    <p>Email: <a href="mailto:{{ seller.email }}">{{ seller.email }}</a></p>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if seller.phone %}
                    <p>Телефон: {{ seller.phone }}</p>
                {% endif %}
            </div>
        </div>
    {% else %}
        <p>Информация о продавце недоступна.</p>
    {% endif %}

    <a href="/" class="btn btn-primary">Вернуться на главную страницу</a>
{% endblock %}
