{% extends 'main/base.html' %}

{% block title %}Запись на консультацию для "{{ service.title }}"{% endblock %}

{% block content %}
    <h2>Запись на консультацию для "{{ service.title }}"</h2>
    <p>Продавец: {{ service.user.username }}</p>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}

    <h3>Доступные слоты:</h3>
    {% if slots %}
        <form method="post">
            {% csrf_token %}
            <div class="form-check">
                {% for slot in slots %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="slot_id" value="{{ slot.id }}" id="slot-{{ slot.id }}">
                        <label class="form-check-label" for="slot-{{ slot.id }}">{{ slot }}</label>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Записаться на консультацию</button>
        </form>
    {% else %}
        <p class="lead"> нет доступных слотов для консультаций.</p>
    {% endif %}

    <a href="{% url 'service_detail' service.id %}" class="btn btn-secondary">Вернуться к услуге</a>
{% endblock %}
