{% extends 'main/base.html' %}

{% block title %}Запись на консультацию для "{{ service.title }}"{% endblock %}

{% block content %}
    <h2>Запись на консультацию для "{{ service.title }}"</h2>
    <p>Продавец: <a href="{% url 'seller_detail' seller.id %}">{{ seller.username }}</a></p>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% if nearest_slot %}
        <h3>доступное время:</h3>
        {% comment %} <p><strong>{{ nearest_slot }}</strong></p> {% endcomment %}

        <form method="post">
            {% csrf_token %}
            <button type="submit">Записаться </button>
        </form>
    {% else %}
        <p>К сожалению, на данный момент нет консультаций .</p>
    {% endif %}

    <a href="{% url 'service_detail' service.id %}">Вернуться к услуге</a>
{% endblock %}